@page "/"

<PageTitle>Index</PageTitle>

<img src="images/logo.png" />
<h1>EXP4 LLC</h1>

<p>
Asking for help is not an easy decision to make, especially in business. We've all been there. You or someone else thinks you "should" be able to spend an hour or two on YouTube and then suddenly make miracles happen, right? While we have no doubt that you are capable, there is one simple question you should ask yourself before you start: is it really the best use of my time and efforts? Most of the time, the answer is an uncomfortable "no." You have a backlog of work that will keep you busy for months, enough distractions throughout your day to keep you working late, and will (or more importantly, should) you or your business ever need to use this new skill again in the future? Again, the answer is usually another uncomfortable "no", but that still doesn't always mean you should just hire someone and move on.
<br />
That's why we offer free consultations with no obligations. Seriously. No strings attached. Let's talk through your situation and see what makes sense. We will let you know if we can't help you directly, or if we have concerns about the success of your project, or if we think it is probably something that would in fact be worth exploring on your own. We want to help but that doesn't always mean we have to charge you for it. Our time is valuable, just like yours, so why give it away? We realize that if you have made the decision to take a chance and call us for help and we aren't a fit, the last thing we want is for you to spend your valuable time AND money. Our goal is to build long-term partnerships that help improve the quality of life for you, your business, and your clients.
<br />
See what our experience and expertise can do for you. Schedule a free consultation today.
</p>

<SurveyPrompt Title="How is Blazor working for you?" />
