@inherits LayoutComponentBase

<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-white">
    <NavHeader />
</nav>

<div class="page">
    <main>
        <div class="bg-dark text-light">
            <article class="content px-4 container-lg">
                @Body
            </article>
        </div>
    </main>
</div>
